@using Abp.Web.Mvc.Alerts
@using IA.MagicSuite.Localization
@using IA.MagicSuite.Web.Areas.App.Views.Shared.Components.AppActiveUserDelegationsCombobox
@using IA.MagicSuite.Web.Areas.App.Views.Shared.Components.AppChatToggler
@using IA.MagicSuite.Web.Areas.App.Views.Shared.Components.AppLanguageSwitch
@using IA.MagicSuite.Web.Areas.App.Views.Shared.Components.AppLogo
@using IA.MagicSuite.Web.Areas.App.Views.Shared.Components.AppMenu
@using IA.MagicSuite.Web.Areas.App.Views.Shared.Components.AppQuickThemeSelect
@using IA.MagicSuite.Web.Areas.App.Views.Shared.Components.AppRecentNotifications
@using IA.MagicSuite.Web.Areas.App.Views.Shared.Components.AppSubscriptionBar
@using IA.MagicSuite.Web.Areas.App.Views.Shared.Components.AppUserMenu
@using IA.MagicSuite.Web.Areas.App.Views.Shared.Themes.Default.Components.AppDefaultBrand
@using IA.MagicSuite.Web.Areas.App.Views.Shared.Themes.Default.Components.AppDefaultFooter

@inject IAlertManager AlertManager
@{ Layout = "~/Areas/App/Views/Layout/_iamBuilderLayoutTemplate.cshtml";
    var theme = await GetTheme(); }

@section Styles{
    
    <link rel="stylesheet" href="@(ApplicationPath)metronic/themes/default/css/style.bundle@(CultureHelper.IsRtl ? ".rtl" : "").css" asp-append-version="true" />
    <link rel="stylesheet" href="@(ApplicationPath)metronic/themes/default/css/skins/header/base/@(theme.BaseSettings.Header.HeaderSkin)@(CultureHelper.IsRtl ? ".rtl" : "").css" asp-append-version="true" />
    <link rel="stylesheet" href="@(ApplicationPath)metronic/themes/default/css/skins/brand/@(theme.BaseSettings.Menu.AsideSkin)@(CultureHelper.IsRtl ? ".rtl" : "").css" asp-append-version="true" />
    <link rel="stylesheet" href="@(ApplicationPath)metronic/themes/default/css/skins/aside/@(theme.BaseSettings.Menu.AsideSkin)@(CultureHelper.IsRtl ? ".rtl" : "").css" asp-append-version="true" />
    <link rel="stylesheet" abp-href="/Common/Styles/Themes/default/metronic-customize.css" asp-append-version="true" />
    <link rel="stylesheet" href="@(ApplicationPath)metronic/assets/plugins/custom/datatables/datatables.bundle.css" asp-append-version="true" />
    <style>

        .hidden-item {
            display: none !important;
        }
        .page {
            padding: 20px;
            /*height: calc(100% - 40px);*/
            height:100%;
        }
        .flex-root{
            height:calc(100% - 59px);
        }
        #iamWidgetDisplayName {
            display: flex;
            align-items: center;
        }
        #iamWidgetEditName {
            display: none;
        }
        #iamWidgetEditName input {
            margin-right: 10px;
            font-weight: 200;
            font-size: medium;
            width: 200px;
            max-width: 100%;
            margin-bottom: 10px;
            background: transparent;
            border: none;
            border-bottom: 2px solid red;
        }

        #iamWidgetEditName input:focus {
            outline: none;
            color: darkred;
        }

            #iamWidgetEditName span:hover, #iamWidgetBtnEditWidgetName {
                cursor: pointer
            }

        #iamWidgetNameSave {
            width: 40px;
            color: #fff !important;
            text-decoration: none;
            padding: 7px;
            border-radius: 30px;
            border: none;
            transition: all 0.4s ease 0s;
            margin-top: 10px;
        }

        #iamWidgetNameSave:hover {
            text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
            -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
            -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
            transition: all 0.4s ease 0s;
        }

        #iamWidgetNameCancel {
            width: 40px;
            color: #fff !important;
            text-decoration: none;
            padding: 7px;
            border-radius: 30px;
            border: none;
            transition: all 0.4s ease 0s;
            margin-top: 10px;
        }

        #iamWidgetNameCancel:hover {
            text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
            -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
            -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
            transition: all 0.4s ease 0s;
        }
        #iamWidgetEditDescription input {
            margin-right: 10px;
            font-weight: 100;
            color: #7E8299;
            font-size: medium;
            width: 400px;
            margin-bottom: 10px;
            background: transparent;
            border: none;
            border-bottom: 1px solid #7E8299;
        }

            #iamWidgetEditDescription input:focus {
                outline: none;
                color: black;
                border-bottom: 2px solid #7E8299;
            }
    </style>
    @await RenderSectionAsync("Styles", false)
}

@section Scripts{
    <script abp-src="/metronic/themes/default/js/settings.js" asp-append-version="true"></script>
    <script>
        $('#iamWidgetBtnEditWidgetName, #iamWidgetName').on('click', function () {

            var itemWrapper = $(this).closest('.item-container'),
                currentItemLabel = itemWrapper.find('#iamWidgetName').text().trim();

            itemWrapper.find('#iamWidgetDisplayName').hide();
            itemWrapper.find('#iamWidgetEditName').show();
            itemWrapper.find('#iamWidgetNameInput').val(currentItemLabel);
            //itemWrapper.find('#iamWidgetNameInput').show();

        });

        $('#iamWidgetNameCancel, #iamWidgetNameSave').on('click', function () {
            $('#iamWidgetDisplayName').show();
            $('#iamWidgetEditName').hide();
        });
    </script>
    @await RenderSectionAsync("Scripts", false)
}
@* Bar d'outils pour le menu de gauche de l'application *@


@* Header global de la page *@
<div id="iamMainToolbarContainer" class="subheader subheader-solid py-3">
    <div class="@(await GetContainerClass())  d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
        <div id="iamMainToolbar" class="d-flex align-items-center flex-wrap mr-2 ">
            <!--begin::Title-->
            <h3 class="text-dark font-weight-bold mr-5 mb-0">
                WidgetEditor
            </h3>
            <!--end::Title-->
            <!--begin::Separator-->
            <div class="subheader-separator subheader-separator-ver bg-gray-200">
            </div>
            <div class="item-container d-flex align-items-center mx-6">

                <div id="iamWidgetDisplayName">
                    <h4 class="text-dark font-weight-bold my-0 mx-5" id="iamWidgetName">
                        New Widget
                    </h4>
                    <span id="iamWidgetBtnEditWidgetName" class="mx-3 my-0">
                        <i class="fa fa-edit icon-1x text-primary"></i>
                    </span>
                </div>
                <div id="iamWidgetEditName" class="iamWidgetEditName">
                    <input id="iamWidgetNameInput" class="my-0 mx-5" type="text">
                    <span class="svg-icon svg-icon-success svg-icon-3x mx-3 my-0"
                          id="iamWidgetNameSave">
                        <i class="fa fa-check icon-x2 text-success"></i>
                    </span>
                    <span class="svg-icon svg-icon-danger svg-icon-3x mx-3 my-0"
                          id="iamWidgetNameCancel">
                        <i class="fa fa-times icon-x2 text-danger"></i>
                    </span>
                </div>
            </div>
            <!--end::Modifier le nom de la page-->
            <div class="subheader-separator subheader-separator-ver bg-gray-200">
            </div>
            <div id="iamWidgetEditDescription">
                <input id="iamWidgetDescriptionInput" placeholder="Widget description" class="my-0 mx-5" type="text">
            </div>
        </div>


        <div id="iamToolBarTransfertContextMenu" class="d-flex align-items-center">
            <!--end::Button back-->
            <!--begin::btn Transfert-->
            <div class="btn-group mr-2">
                <button type="button"
                        class="btn btn-outline-secondary font-weight-bold dropdown-toggle dropdown-toggle-split"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="svg-icon svg-icon-sm">
                        <!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo1\dist/../src/media/svg/icons\Files\Export.svg-->
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                             height="24px" viewBox="0 0 24 24" version="1.1">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <rect x="0" y="0" width="24" height="24"></rect>
                                <path d="M3,16 L5,16 C5.55228475,16 6,15.5522847 6,15 C6,14.4477153 5.55228475,14 5,14 L3,14 L3,12 L5,12 C5.55228475,12 6,11.5522847 6,11 C6,10.4477153 5.55228475,10 5,10 L3,10 L3,8 L5,8 C5.55228475,8 6,7.55228475 6,7 C6,6.44771525 5.55228475,6 5,6 L3,6 L3,4 C3,3.44771525 3.44771525,3 4,3 L10,3 C10.5522847,3 11,3.44771525 11,4 L11,19 C11,19.5522847 10.5522847,20 10,20 L4,20 C3.44771525,20 3,19.5522847 3,19 L3,16 Z"
                                      fill="#000000" opacity="0.3"></path>
                                <path d="M16,3 L19,3 C20.1045695,3 21,3.8954305 21,5 L21,15.2485298 C21,15.7329761 20.8241635,16.200956 20.5051534,16.565539 L17.8762883,19.5699562 C17.6944473,19.7777745 17.378566,19.7988332 17.1707477,19.6169922 C17.1540423,19.602375 17.1383289,19.5866616 17.1237117,19.5699562 L14.4948466,16.565539 C14.1758365,16.200956 14,15.7329761 14,15.2485298 L14,5 C14,3.8954305 14.8954305,3 16,3 Z"
                                      fill="#000000"></path>
                            </g>
                        </svg>
                        <!--end::Svg Icon-->
                    </span>
                    transfert
                </button>

                <div class="dropdown-menu dropdown-menu-sm p-0 m-0 dropdown-menu-right" style="">
                    <ul class="navi py-5">
                        <li class="navi-item" id="btn-export">
                            <a class="navi-link">
                                <span class="navi-icon"><i class="flaticon-multimedia-4"></i></span>
                                <span class="navi-text">Export</span>
                            </a>
                        </li>
                        <li class="navi-item" id="btn-import">
                            <a class="navi-link">
                                <span class="navi-icon"><i class="flaticon-upload-1"></i></span>
                                <span class="navi-text">Import</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--end::Transfert-->
            <!--begin::btn Save-->
            <div class="btn-group">
                <button type="button" class="btn btn-secondary font-weight-bold dropdown-toggle dropdown-toggle-split"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Save Changes
                </button>

                <div class="dropdown-menu dropdown-menu-sm p-0 m-0 dropdown-menu-right" style="">
                    <ul class="navi py-5">
                        <li class="navi-item" id="save-widget">
                            <a class="navi-link">
                                <span class="navi-icon"><i class="flaticon2-writing"></i></span>
                                <span class="navi-text">Save &amp; continue</span>
                            </a>
                        </li>
                        <li class="navi-item">
                            <a class="navi-link">
                                <span class="navi-icon"><i class="flaticon2-medical-records"></i></span>
                                <span class="navi-text">Save &amp; add new</span>
                            </a>
                        </li>
                        <li class="navi-item">
                            <a class="navi-link">
                                <span class="navi-icon"><i class="flaticon2-hourglass-1"></i></span>
                                <span class="navi-text">Save &amp; exit</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>


@* zone de contenu global de la page *@
<div class="d-flex flex-column flex-root">
    <div class="d-flex flex-row flex-column-fluid page">
        @RenderBody()

    </div>
</div>

