@using IA.MagicSuite.Authorization
@*@using IA.MagicSuite.Web.Areas.App.Models.MagicApps*@
@using IA.MagicSuite.Web.Areas.App.Startup
@*@model MagicAppsViewModel*@
@*@{
    //ViewBag.CurrentPageName = AppPageNames.Common.MagicApps;
}*@

@section Scripts
{
    <script>
    //variable centrale de la page dans laquelle est stoquée toutes les informations importantes
        var iamPageVariables = {

            tenantId: "@AbpSession.TenantId", //l'id du tenant
            userId: "@AbpSession.UserId", //l'id de l'utilisateur
            designPageUrl:'@Url.Action("DesignPage", "Designers")',

        }
    </script>
    <script abp-src="/view-resources/Areas/App/Views/MagicFlow/Index.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

    <abp-page-subheader title="@L("MagicApps")" description="@L("MagicAppsHeaderInfo")">

        <button id="CreateNewMagicAppButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewMagicApp")</button>

    </abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="form">
                    <div class="row align-items-center mb-4">
                        <div class="col-xl-12">
                            <div class="form-group align-items-center">
                                <div class="input-group">
                                    <input type="text" id="MagicAppsTableFilter" class="form-control m-input" placeholder="@L("SearchWithThreeDot")" value="">
                                    <span class="input-group-btn">
                                        <button id="GetMagicAppsButton" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="AdvacedAuditFiltersArea" style="display: none" class="row mb-4">
                    <div class="col-md-12">
                        <div class="kt-separator kt-separator--border-dashed"></div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="NameFilterId">@L("Name")</label>
                            <input type="text" class="form-control" name="nameFilter" id="NameFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="UniqueNameFilterId">@L("UniqueName")</label>
                            <input type="text" class="form-control" name="uniqueNameFilter" id="UniqueNameFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="DescriptionFilterId">@L("Description")</label>
                            <input type="text" class="form-control" name="descriptionFilter" id="DescriptionFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="ActiveVersionFilterId">@L("ActiveVersion")</label>
                            <input type="text" class="form-control" name="activeVersionFilter" id="ActiveVersionFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="ColorOrClassNameFilterId">@L("ColorOrClassName")</label>
                            <input type="text" class="form-control" name="colorOrClassNameFilter" id="ColorOrClassNameFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="UseDefaultIconFilterId">@L("UseDefaultIcon")</label>
                        <select class="form-control" name="UseDefaultIconFilter" id="UseDefaultIconFilterId">
                            <option value="-1">@L("All")</option>
                            <option value="0">@L("False")</option>
                            <option value="1">@L("True")</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="SystemIconFilterId">@L("SystemIcon")</label>
                            <input type="text" class="form-control" name="systemIconFilter" id="SystemIconFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="IconUrlFilterId">@L("IconUrl")</label>
                            <input type="text" class="form-control" name="iconUrlFilter" id="IconUrlFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="IsActiveFilterId">@L("IsActive")</label>
                        <select class="form-control" name="IsActiveFilter" id="IsActiveFilterId">
                            <option value="-1">@L("All")</option>
                            <option value="0">@L("False")</option>
                            <option value="1">@L("True")</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="IsSystemAppFilterId">@L("IsSystemApp")</label>
                        <select class="form-control" name="IsSystemAppFilter" id="IsSystemAppFilterId">
                            <option value="-1">@L("All")</option>
                            <option value="0">@L("False")</option>
                            <option value="1">@L("True")</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MagicSolutionNameFilterId">(@L("MagicSolution")) @L("Name")</label>
                            <input type="text" class="form-control" name="magicSolutionNameFilter" id="MagicSolutionNameFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MagicAppTypeNameFilterId">(@L("MagicAppType")) @L("Name")</label>
                            <input type="text" class="form-control" name="magicAppTypeNameFilter" id="MagicAppTypeNameFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MagicAppStatusNameFilterId">(@L("MagicAppStatus")) @L("Name")</label>
                            <input type="text" class="form-control" name="magicAppStatusNameFilter" id="MagicAppStatusNameFilterId">
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-xl-12">
                        <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                        <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div id="MagicAppsGrid"></div>
                </div>
            </div>
        </div>
    </div>
</div>