@using IA.MagicSuite.Authorization
@*@using IA.MagicSuite.Web.Areas.App.Models.MagicApps*@
@using IA.MagicSuite.Web.Areas.App.Startup
@*@model MagicAppsViewModel*@
@{
//ViewBag.CurrentPageName = AppPageNames.Common.MagicApps;
//_iamBuilderLayoutTemplate.cshtml
//Layout = "~/Areas/App/Views/Layout/_iamBuilderLayoutTemplate.cshtml";
}

@section Scripts
{
    <script>
    //variable centrale de la page dans laquelle est stoquée toutes les informations importantes
        var iamPageVariables = {

            tenantId: "@AbpSession.TenantId", //l'id du tenant
            userId: "@AbpSession.UserId", //l'id de l'utilisateur
            designPageUrl:'@Url.Action("Designer", "MagicFlow")',

        }
    </script>
    <script src="/view-resources/Areas/App/Views/MagicFlow/Index.js"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

    <abp-page-subheader title="@L("MagicFlow")" description="@L("MagicFlowHeaderInfo")">

        <button id="CreateNewMagicAppButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewMagicFlow")</button>

    </abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="form">
                    <div class="row align-items-center mb-4">
                        <div class="col-xl-12">
                            <div class="form-group align-items-center">
                                <div class="input-group">
                                    <input type="text" id="MagicAppsTableFilter" class="form-control m-input" placeholder="@L("SearchWithThreeDot")" value="">
                                    <span class="input-group-btn">
                                        <button id="GetMagicAppsButton" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="AdvacedAuditFiltersArea" style="display: none" class="row mb-4">
                    <div class="col-md-12">
                        <div class="kt-separator kt-separator--border-dashed"></div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="NameFilterId">@L("Name")</label>
                            <input type="text" class="form-control" name="nameFilter" id="NameFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="DescriptionFilterId">@L("Description")</label>
                            <input type="text" class="form-control" name="descriptionFilter" id="DescriptionFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="IsActiveFilterId">@L("FlowType")</label>
                        <select class="form-control" name="IsActiveFilter" id="IsActiveFilterId">
                            <option value="-1">@L("All")</option>
                            <option value="0">@L("False")</option>
                            <option value="1">@L("True")</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="IsActiveFilterId">@L("IsActive")</label>
                        <select class="form-control" name="IsActiveFilter" id="IsActiveFilterId">
                            <option value="-1">@L("All")</option>
                            <option value="0">@L("Yes")</option>
                            <option value="1">@L("No")</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-xl-12">
                        <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                        <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div id="MagicAppsGrid"></div>
                </div>
            </div>
        </div>
    </div>
</div>